altgraph==0.17
appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
attrs==20.3.0
autoflake==1.4
black==20.8b1
blessings==1.7
bpython==0.19
certifi==2020.4.5.1
chardet==3.0.4
cheroot==8.4.7
CherryPy==18.6.0
click==7.1.2
coverage==5.4
curtsies==0.3.1
distlib==0.3.1
Django==3.1.3
docxtpl==0.11.1
et-xmlfile==1.0.1
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
greenlet==0.4.15
idna==2.9
iniconfig==1.1.1
isort==5.7.0
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
jdcal==1.4.1
Jinja2==2.11.2
lazy-object-proxy==1.4.3
lxml==4.6.1
macholib==1.14
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.6.0
mypy-extensions==0.4.3
openpyxl==3.0.5
packaging==20.9
pathspec==0.8.1
pluggy==0.13.1
portend==2.7.0
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.6.1
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pylint==2.6.2
pyparsing==2.4.7
pyTelegramBotAPI==3.7.1
pytest==6.2.2
pytest-cov==2.11.1
python-docx==0.8.10
pytz==2020.4
regex==2020.11.13
requests==2.23.0
six==1.15.0
sqlparse==0.4.1
tempora==4.0.1
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
unify==0.5
untokenize==0.1.1
urllib3==1.25.9
virtualenv==20.1.0
wcwidth==0.2.3
Werkzeug==1.0.1
wrapt==1.12.1
xlrd==1.2.0
zc.lockfile==2.0
